{{define "collection"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection de musiques - Youssoupha</title>
    <link rel="stylesheet" href="/static/css/collection.css">
</head>
<body>
    <header>
        <h1>Collection de musiques - Youssoupha</h1>
    </header>
    <div class="filters">
        <label for="filter">Filtrer par :</label>
        <select id="filter">
            <option value="tous">Tous</option>
            <option value="album">Album</option>
            <option value="single">Single</option>
          
          
            <a href="ListAlbums.html">Aller voir Album </a>    <!-- Ajoutez d'autres options de filtrage si nécessaire -->
        </select>
    </div>
    <div class="container" id="1cLLTkyM0B0v2vIG8wUhrD">
        <!-- Les éléments de la collection seront insérés ici -->
    </div>
    <a class="h-link" href="ListAlbums.html">
        <button type="submit">afficher</button>
    </a>
    <script src="script.js"></script>
</body>
</html>
{{end}}