{{define "journal"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal de bord</title>
    <link rel="stylesheet" href="/static/css/journal.css">
</head>
<body>
    <div class="container">
        <h1>Journal de bord</h1>
        <h2>Liens vers les maquettes :</h2>
        <p>Insérer ici les liens vers les maquettes</p>
        
        <h2>Liste des tâches :</h2>
        <ol>
            <li>Tâche 1</li>
            <li>Tâche 2</li>
            <li>Tâche 3</li>
            <!-- Ajouter d'autres tâches au besoin -->
        </ol>
        
        <h2>Difficultés rencontrées :</h2>
        <p>Insérer ici les difficultés rencontrées</p>

        <a class="h-link" href="index.html">
            <button type="submit">Retour</button>
        </a>
    </div>
</body>
</html>
{{end}}