{{define "Albumtracklist"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/collction.css">
    <title>Artiste Musicien YOUSSOUPHA</title>
</head>

<body>
    <h1> Album tracklist</h1>
    <p>{{.Albums}}</p>
    <p>{{.Id}}</p>
    <p>{{.Tilte}}</p>
    <p>{{.Name}}</p>
    <p>{{.Type}}</p>
    <p>{{.Images}}</p>

</body>

<a class="h-link" href="index.html">
    <button type="submit">Page d'Accueil</button>
</a> 

</html>
{{end}}